src/conf/xml-resources/web-service-references/VideoWS/wsdl/localhost_8080/VideoWS/VideoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://video.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://video.me.org/" name="VideoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://video.me.org/" schemaLocation="http://localhost:8080/VideoWS/VideoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findByTitle">
<part name="parameters" element="tns:findByTitle"/>
</message>
<message name="findByTitleResponse">
<part name="parameters" element="tns:findByTitleResponse"/>
</message>
<message name="findByAuthor">
<part name="parameters" element="tns:findByAuthor"/>
</message>
<message name="findByAuthorResponse">
<part name="parameters" element="tns:findByAuthorResponse"/>
</message>
<message name="findByDate">
<part name="parameters" element="tns:findByDate"/>
</message>
<message name="findByDateResponse">
<part name="parameters" element="tns:findByDateResponse"/>
</message>
<portType name="VideoWS">
<operation name="findByTitle">
<input wsam:Action="http://video.me.org/VideoWS/findByTitleRequest" message="tns:findByTitle"/>
<output wsam:Action="http://video.me.org/VideoWS/findByTitleResponse" message="tns:findByTitleResponse"/>
</operation>
<operation name="findByAuthor">
<input wsam:Action="http://video.me.org/VideoWS/findByAuthorRequest" message="tns:findByAuthor"/>
<output wsam:Action="http://video.me.org/VideoWS/findByAuthorResponse" message="tns:findByAuthorResponse"/>
</operation>
<operation name="findByDate">
<input wsam:Action="http://video.me.org/VideoWS/findByDateRequest" message="tns:findByDate"/>
<output wsam:Action="http://video.me.org/VideoWS/findByDateResponse" message="tns:findByDateResponse"/>
</operation>
</portType>
<binding name="VideoWSPortBinding" type="tns:VideoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VideoWS">
<port name="VideoWSPort" binding="tns:VideoWSPortBinding">
<soap:address location="http://localhost:8080/VideoWS/VideoWS"/>
</port>
</service>
</definitions>